@page "/books"
@using Komit.Base.Values.Cqrs
@using Komit.BoxOfSand.Values.Queries;
@using Microsoft.Extensions.Options;
@inject CqrsClient Api;


<div>
    <h1 class="is-size-1">List of Stephen King books</h1>

    <input type="radio" name="Selection" checked @onchange="@(() => collectionSelected=false)" />
    <label>Single books</label>


    <input type="radio" name="Selection" @onchange="@(() => collectionSelected=true)" />
    <label>Collections</label>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                @if(collectionSelected)
                {
                    <th>Collection</th>
                }
            </tr>
        </thead>
        <tbody>
            @if(collectionSelected)
            {
                @foreach (var book in collectionBooks)
                {
                    <tr>
                        <td>@book.Name</td>
                        <td>@book.Description</td>
                        <td>@book.Collection</td>
                    </tr>
                }
            }
            else
            {
                @foreach (var book in singleBooks)
                {
                    <tr>
                        <td>@book.Name</td>
                        <td>@book.Description</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@code {
    private bool collectionSelected = false;
    private BooksInfoDto[] singleBooks = Array.Empty<BooksInfoDto>();
    private BooksInfoDto[] collectionBooks = Array.Empty<BooksInfoDto>();

    private async Task LoadBooks()
    {
        BooksInfoDto[] booksList = await Api.Query(new ShowBooksQuery()).Result();

        singleBooks = Array.FindAll(booksList, b => b.Collection == null);
        collectionBooks = Array.FindAll(booksList, b => b.Collection != null);
        
    }

    protected override async Task OnInitializedAsync()
    {        
        Api = Api.ForClient(Options.DefaultName).ForModule("boxofsand");
        await LoadBooks();
    }
}
